body,html{
    background-color: #BCD4EE;
}


img{
    height: auto;
    width: 300px;
}
nav{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
width:auto;
height:289px;
line-height: 75px;
padding: 0px 100px;
background-color: #FEED73;
margin: 10px;


}


nav li{
    display: inline-block;
    list-style: none;

}

nav li a {
    font-size: 25px;
    padding:0px 30px;
    color:#F15959;
    text-decoration: none;
}
.grid-container{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
justify-content: center;
align-items: center;

}
.homemade{
    grid-column:span 2;
   place-items: top top;
}
.workspace{
    grid-column:3;
}